*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    /* background-image: linear-gradient(to bottom right, rgb(115, 161, 115),rgb(131, 188, 131), lightgreen); */
    background-color: rgb(166, 249, 173);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('gameBackground.jpg');
object-fit: cover;    
    
}

.home{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top:50px;
    margin-bottom: 30px;
    font-size: 20px;
}
.heading{
    font-size: 3rem;
}
.button{
    font-size: 15px;
    width: 6rem;
    padding: 0.5rem;
    border-radius: 10px;
    background-color:rgb(3, 133, 3);
    color: white;
    cursor: pointer;
    transform: scale(1);
    border-color:none ;
    box-shadow: 2px 3px 3px gray;
}
.button:hover{
    background-color: darkgreen;
    transform: scale(0.97);
    border-color: none;
    transition: ease-in-out 0.2s;
}
.result{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.5rem;
}
#score, #timer{
    padding: 7px;
    font-size: smaller;
    
}
#resume{
    display: none;
}
.square{
    width: 90px;
    height:90px;
    border-radius: 50%;
    border: 1px solid black;
    background-color:rgb(94, 58, 41);
    cursor: pointer;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: green;
    height: 300px;
    width: 300px;
   margin-top: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
   margin-bottom: 60px;
}

.mole{
    /* background: url('../images/mole.png'); */
    background-image: url('moleimg.png');
    /* background: url(file:///C:/Users/Kumkum/Downloads/1343981826723_1343981826723_r-removebg-preview.png); */
    background-size: cover;
    padding-right: 8px;
}
@media only screen and (max-width:800px){
    .square{
        width: 70px;
        height:70px;
       
    }
    .grid{
        
        height: 255px;
        width: 255px;   
    }
    .heading{
        font-size: 2.5rem;
    }
    .button{
        width: 5rem;   
        font-size: 14px;
   
    }
    
    .result{
        margin: 0.5rem;
        font-size: 16px;

    }
    #score, #timer{
        font-size: smaller;
        
    }
}